/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono-v20-latin-regular.woff2') format('woff2'); 
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono-v20-latin-italic.woff2') format('woff2'); 
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ibm-plex-mono-v20-latin-700.woff2') format('woff2'); 
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ibm-plex-mono-v20-latin-700italic.woff2') format('woff2'); 
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ibm-plex-sans-v23-latin-regular.woff2') format('woff2'); 
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ibm-plex-sans-v23-latin-italic.woff2') format('woff2'); 
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ibm-plex-sans-v23-latin-600.woff2') format('woff2'); 
}
/* ibm-plex-sans-600italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/ibm-plex-sans-v23-latin-600italic.woff2') format('woff2'); 
}

:root {
    --color1: #52b122;
    --color1-light: oklch(from var(--color1) calc(l + 0.2) c h);
    --color1-lightest: oklch(from var(--color1) calc(l + 0.6) calc(c - 0.1) h);
    --color1-shadow: oklch(from var(--color1) calc(l - 0.2) c h / 0.5);
    --color1-greyish: oklch(from var(--color1) calc(l - 0.2) calc(c - 0.1) h);
    --color1-greyish-light: oklch(from var(--color1) calc(l + 0.2) calc(c - 0.1) h);
    --color1-trans-10: oklch(from var(--color1) l c h / 0.1);
    --color1-trans-20: oklch(from var(--color1) l c h / 0.2);
    --color2: oklch(from var(--color1) l c calc(h - 180));
    --gradient: linear-gradient(135deg, var(--color1) 0%, oklch(from var(--color1) calc(l + .02) c h) 100%);
    --gradient-light: linear-gradient(135deg, oklch(from var(--color1) calc(l + 0.15) c h) 0%, oklch(from var(--color1) calc(l + .03) c h) 100%);
    --white: #e9e9e9;
    --white-trans-10: oklch(from var(--white) l c h / 0.1);
    --grey-lightest: oklch(from var(--white) calc(l - 0.05) c h);
    --grey-dark: oklch(from var(--white) calc(l - 0.8) calc(c - 0.1) h);
    --black: #030303;
    --black-trans-70: from(var(--black) l c h / 0.7);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    --text-color: var(--white);
    --text-s: clamp(0.7292rem, 0.7152rem + 0.0701vw, 0.7502rem);
    --text-m: clamp(0.875rem, 0.7917rem + 0.4167vw, 1rem);
    --text-l: clamp(1.05rem, 0.8613rem + 0.9433vw, 1.333rem);
    --text-xl: clamp(1.26rem, 0.9154rem + 1.723vw, 1.7769rem);
    --text-2xl: clamp(1.512rem, 0.9409rem + 2.8553vw, 2.3686rem);
    --text-3xl: clamp(1.8144rem, 0.9191rem + 4.4764vw, 3.1573rem);
    --text-4xl: clamp(2.1773rem, 0.823rem + 6.7715vw, 4.2087rem);
    --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
    --space-2xs: clamp(0.4375rem, 0.3958rem + 0.2083vw, 0.5rem);
    --space-xs: clamp(0.6875rem, 0.6458rem + 0.2083vw, 0.75rem);
    --space-s: clamp(0.875rem, 0.7917rem + 0.4167vw, 1rem);
    --space-m: clamp(1.3125rem, 1.1875rem + 0.625vw, 1.5rem);
    --space-l: clamp(1.75rem, 1.5833rem + 0.8333vw, 2rem);
    --space-xl: clamp(2.625rem, 2.375rem + 1.25vw, 3rem);
    --space-2xl: clamp(3.5rem, 3.1667rem + 1.6667vw, 4rem);
    --space-3xl: clamp(5.25rem, 4.75rem + 2.5vw, 6rem);
	
}